apiVersion: v1
clusters:
- cluster:
    certificate-authority: /opt/kube-server/certs/ca.pem
    server: https://localhost:6443
  name: local
contexts:
- context:
    cluster: local
    namespace: kube-system
    user: system-user
  name: local-context
current-context: "local-context"
kind: Config
preferences: {}
users:
- name: system-user
  user:
    client-certificate: "{{client_certificate}}"
    client-key: "{{client_key}}"
