{
  "CA": {
    "expiry": "{{ca_expiry}}",
    "pathlen": 0
  },
  "CN": "{{certificate_common_name}}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{owner.country}}",
      "L": "{{owner.location}}",
      "O": "{{owner.organization}}",
      "OU": "{{owner.organization_unit}}",
      "ST": "{{owner.state}}"
    }
  ]
}